:root {
  background-color: #f5f5f5;
}

.link {
  text-decoration: none;
  padding: 0 25px;
  color: #283040;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

input {
  height: 100%;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  border: none;
  border-radius: 5px;
  font-family: Helvetica;
  font-weight: 400;
  font-size: 16px;
  flex: 1;
}

button {
  float: right;
  height: 100%;
  border: none;
  background-color: #283040;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  border-radius: 5px;
  padding: 16px 24px;
}

.searchIcon {
  padding: 20px 0 20px 32px;
  float: left;
}

.sideIcons {
  float: right;
  padding: 20px 32px 20px 0;
  cursor: pointer;
}

.navStyles {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 40px;
}

.smallNav {
  border-radius: 5px;
  height: 64px;
  display: flex;
  justify-content: center;
  width: 940px;
  left: 25%;
  right: 25%;
  align-items: center;
  position: fixed;
  margin: auto;
  background-color: #fff; 
  overflow: hidden;
}

.vl {
  border-left: 1px solid #6493F1;
  height: 31px;
}